  body { no-repeat center center;background-size:cover;background-attachment:fixed;width: 960px;margin-left: auto;margin-right: auto}
#a{color: RGB(255,133,10);}
#b{color: rgb(255,133,10);}
#c{color: rgb(155,39,39);font-family: STheiti}
#d{color: rgb(255,0,0);font-size: 50px}
#e{font-style: italic;font-weight: bold;font-size: 50px;color: rgb(0,179,45);}
